body{
    background: linear-gradient(rgba(0,0,0,0.4)50%,rgba(0,0,0,0.4)50%), url(picture.jfif);
    background-position: center;
    background-size: cover;
    height: 73vh;
}

.form{
    width: 250px;
    height: 330px;
    color: #fff;
    background-color:black;
    position: absolute;
    left: 100px;
    top: 50%;
    left: 80%;
    transform: translate(-50%,-50%);
    padding: 80px 50px;
    border-radius: 10px;
    /* background: transparent; */


}

.form h1{
    width: 220px;
    text-align:center;
    padding-left: 11px;
    font-size: 25px;
    color: #cd0909;
    margin-bottom: 30px;
    margin-top: auto;
}

.form p{
    padding: bottom 0px;
}

.form input{
    width: 100%;
    height: 35px;
    padding-top: 5px;
    margin-bottom: 30px;
    background: transparent;
    border-bottom: 1px solid #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #fff;
    outline: none;
    font-size: 15px;
    letter-spacing: 1px;
}

.form input[type="submit"]
{
    width: 30%;
    margin-left: 150px;
    border: none;
    height: 40px;
    color: #630808;
    background: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;

}

.form input[type="submit"]:hover{
    cursor: pointer;
    background: #18067a;
    color: #fff;
    font-weight: bold;
}
